<p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #757575;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;">Hi ! Welcome to Examineer !</p>

                                                    <p style="margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #757575;font-family: Helvetica;font-size: 16px;line-height: 150%;text-align: left;"> <%-quiz.authorName%> (&nbsp;<%-quiz.authorEmail%>) has created an Examineer Quiz for
                                                        you.
                                                        <br>
                                                        <br> &nbsp;
                                                    </p>

                                                    <hr style="margin-top: 10px; margin-bottom: 15px; border-top-style: solid; border-color: #eee #f1eae0 #f1eae0; border-width: 1px 0 0;">
                                                    <h3 style="text-align: center;display: block;margin: 0;padding: 0;color: #444444;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;">Details&nbsp;
                                                        <br> &nbsp;
                                                    </h3>

                                                    <table style="width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Title</td>
                                                                <td align="right" style="font-weight: bold;padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><%-quiz.title%></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" style="padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Valid From</td>
                                                                <td align="right" style="font-weight: bold;padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><%-quiz.beginTime%></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" style="padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Valid Upto</td>
                                                                <td align="right" style="font-weight: bold;padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><%-quiz.endTime%></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" style="padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Duration</td>
                                                                <td align="right" style="font-weight: bold;padding-bottom: 12px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><%-quiz.duration%></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    &nbsp;

                                                    <hr style="margin-top: 10px; margin-bottom: 15px; border-top-style: solid; border-color: #eee #f1eae0 #f1eae0; border-width: 1px 0 0;">
                                                    <br> To access your quiz go to examineer.in and use the following credentials
                                                    to LOG IN
                                                    <br> &nbsp;
                                                    <div>
                                                        <h3 style="text-align: center;display: block;margin: 0;padding: 0;color: #444444;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;"><%-quiz.id%></h3>

                                                        <p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #757575;font-family: Helvetica;font-size: 16px;line-height: 150%;">Quiz ID
                                                            <br> &nbsp;
                                                        </p>
                                                    </div>

                                                    <hr style="margin-top: 10px; margin-bottom: 15px; border-top-style: solid; width: 100px; border-color: #eee #f1eae0 #f1eae0; border-width: 1px 0 0;">
                                                    <div>
                                                        <h3 style="text-align: center;display: block;margin: 0;padding: 0;color: #444444;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;">
                                                            <a style="color: inherit;text-decoration: inherit;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-weight: normal;"><%-user.username%></a>
                                                        </h3>

                                                        <p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #757575;font-family: Helvetica;font-size: 16px;line-height: 150%;">Username
                                                            <br> &nbsp;
                                                        </p>
                                                    </div>

                                                    <hr style="margin-top: 10px; margin-bottom: 15px; border-top-style: solid; width: 100px; border-color: #eee #f1eae0 #f1eae0; border-width: 1px 0 0;">
                                                    <div>
                                                        <h3 style="text-align: center;display: block;margin: 0;padding: 0;color: #444444;font-family: Helvetica;font-size: 22px;font-style: normal;font-weight: bold;line-height: 150%;letter-spacing: normal;"><%-user.password%></h3>

                                                        <p style="text-align: center;margin: 10px 0;padding: 0;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #757575;font-family: Helvetica;font-size: 16px;line-height: 150%;">Password</p>
                                                    </div>
                                                    &nbsp;

                                                    <hr style="margin-top: 10px; margin-bottom: 15px; border-top-style: solid; border-color: #eee #f1eae0 #f1eae0; border-width: 1px 0 0;"> Please note :
                                                    <ul>
                                                        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Quiz is valid only for a limited time.
                                                        </li>
                                                        <li style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Make sure that you LOGIN and SUBMIT your quiz within the validity
                                                            period.</li>
                                                    </ul>

                                                    <% if(quiz.addInstr){%>
                                                    <hr style="margin-top: 10px; margin-bottom: 15px; border-top-style: solid; border-color: #eee #f1eae0 #f1eae0; border-width: 1px 0 0;"> Additional instructions : <br>
                                                    <br>
                                                    <%=quiz.addInstr%>
                                                    <%}%>
