<% if(pipe=="mcq"){%>

    <!-- <div class="tab-pane quesYScroll" id="mcqOption"> -->
    <div class="tab-pane" id="mcqOption">
        <fieldset>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 inMiddle">
                        <label class='control-label'>Options
                                <button type="button" data-toggle="popover"  class="btn btn-info btn-simple btn-xs" data-content="<%-tooltip.tooltipMcqOptions01%>">
                                <i class="ti-help-alt fa-lg"></i>
                                </button>
                        </label>
                    </div>
                </div>
                <div class='row'>
                    <!-- <div class="col-md-2">
                        
                    </div> -->
                    <div class='col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 inMiddle'>
                        <!-- <br> <br> -->
                        <div id='allOption'>
                <% 
                    var optdivs = 0 ;
                    if(typeof data.options == 'object' && data.options){
                        //itemdivs = data.options.length;
                        if(data.options.length==0){
                            optdivs = 2;
                        }else{
                            optdivs = data.options.length;
                        }
                    }else{
                        optdivs = 2;
                    }
                %>
                    <% for(var i = 0 ; i < optdivs; i++){%>
                        <div class='col-lg -12' id='optiondiv_old-<%-i%>'>
                           
                                <div class='card inputcard2'>
                          
                            
                                <div class='card-content'>
                                    <div class="row">
                                        <div class="col-sm-6"><input type="hidden" name="">
                                            
                                            <% if(i==0) { %>
                                                <span class="text-success">
                                                    <i class="ti-check" style="font-size: xx-large;"></i>
                                                    <input type="hidden" name='isAnswer' value='true' id="option_type_old-<%-i%>">
                                                </span>
                                            <% } else { %>
                                                <span class="text-danger">
                                                    <i class="ti-close" style="font-size: xx-large;color:#EB5E28;"></i>
                                                    <input type="hidden" name='isAnswer' value='false' id="option_type_old-<%-i%>">
                                                </span>
                                            <% } %>
                                            
                                        </div>
                                        <%if(i !=0 && i!=1 ){%>
                                        <div class="col-sm-6 text-right">
                                            <button type="button" rel="tooltip" title="" class="btn btn-danger" data-original-title="Delete" 
                                                     id='deleteOption'>
                                                    <i class="ti-trash"></i>
                                                    </button> 
                                        </div>     
                                        <%}%>
                                    </div><hr style="padding:0px;margin-top:5px;"><br/>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea  rows=6 class='form-control' id='option_value_old'><%if(typeof data.options == 'object' && data.options && !isNew){%><%- data.options[i].statement %><%}else{%><%}%></textarea>
                                        </div>
                                        </div>
                                      
                                    </div>
                                    <!-- <%if(i !=0 && i!=1 ){%>
                                    <div class='card-footer footer1'>
                                            <hr>
                                          
                                            <div class="footer-title"><span class="text-muted"> &nbsp;</span></div>
                                            <div class="pull-right">
                                                <span class="text-muted"> &nbsp; </span> 
                                              
                                               
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger" data-original-title="Delete" 
                                                     id='deleteOption'>
                                                    <i class="ti-trash"></i>
                                                    </button>                 
                                            </div>
                                    </div>
                                    <%}%> -->
                                    
                            </div>
                        </div>
                    <%}%>        
                </div>
                <div align="right">
                    <input class='btn btn-default' id="addNewOption" type="button" value="Option +" />
                </div>
            </div>
    </div>
    </div>
    </fieldset>
    </div>
    <%}%>