<html>
<head>
  <!-- <script type = "text/javascript"  src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>    -->
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
 <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  showMathMenu: false,
  CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
});
</script>

<script type="text/javascript"  src="author_public/plotchart/plotly-latest.min.js"></script>
<script type="text/javascript" src="author_public/plotchart/plotchart.js"></script>
</head>
<body>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
          <!-- <img src="/../../uploads/unexpected.svg" alt="error: check folder and file names" style="width:100%;min-width:320px;background-color:rgb(250,250,250);padding:7px;border-radius:7px;" hidden="hidden"> -->
          <!-- <%-alldoc%>  -->
          <div class="text-right">
            <b>Question Id: <%-alldoc[0].id%></b>
          </div>
           
          <div class="arrangeData">
            <h3 class="head">Tags </h3><%-alldoc[0].tags%>
            <h3 class="head">Comment </h3> <%-alldoc[0].comments%>
          </div>
          <%-alldoc[0].sample%>
      </div>
    </div>
  </div>
</div>
</body>
<%- include('../parts/dynamicMedia'); %>

<html>