<!doctype html>
<html lang="en">

<head>
  <%- include('../parts/allCSS'); %>
    <link rel="stylesheet" href="author_public/css/author_quiz.css">
      <script src="author_public/PaperDashBoard/js/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="author_public/plotchart/plotly-latest.min.js"></script>
  <script type="text/javascript" src="author_public/plotchart/plotchart.js"></script>
</head>
 
<body>
  <div class="wrapper">
    <%- include('../parts/leftNavBar'); %>
      <div class="main-panel">
        <%- include('../parts/topNavBarPart1'); %> New Quiz From Template (Quiz Id:
          <%-data._id%>)
            <%- include('../parts/topNavBarPart2'); %>
              <div class="content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="card">
                        <div class="card-header clearfix">
                          <!-- <h4 class="card-title">Collapsible Accordion</h4>
                              <p class="category">Bootstrap default style</p> -->
                          <div class="pull-left">
                            <form role="form" name="frmback" id="frmback" method="post" action="/author_getQuizControlData" enctype="multipart/form-data">
                              <button class="btn btn-wd btn-default btn-move-left" id="back"><i class="ti-angle-left"></i>&nbsp; Back</button>
                              <input type="hidden" name="quizid" id="quizid" value="<%-data._id%>">
                            </form>
                          </div>
                          <div class="pull-right">
                            <form name="gettoken" style="display:inline-block;" method="post" action="/author_createNewQuizTemplate">
                              <input type="hidden" name="author" value="<%-short%>">
                              <input type="hidden" name="quiz_id" id="quiz_id" value="<%-data._id%>">
                              <input type="hidden" name="items" id="items" value="">
                              <input type="hidden" name="log_Id" id="log_Id" value="">
                              <input type="hidden" name="log_Token" id="log_Token" value="">
                              <button type='submit' class="btn btn-success btn-fill btn-wd btn-move-right" id="create_quiz" style="display:inline-block;"
                                disabled>Next &nbsp; <i class="ti-angle-right"></i></button>
                            </form>
                          </div>
                        </div>
                        <hr>
                        <div class="card-content details table-responsive ">
                          <h4>Select items to inherit 
                              <label><button type="button" data-toggle="popover"  class="btn btn-info btn-simple btn-xs" data-content="<%-tooltip.tooltipQuiz19%>"><i class="ti-help-alt fa-lg" style="font-size:1.5em;"></i></button></label>
                          </h4>
                          <br>
                        
                                <div class="checkbox">
                                  <input type="checkbox" onchange="checkAll(this)" id="chkall" name="chk[]"/> 
                                  <label for="chkall" style="font-size:16px;font-weight:bold;">
                                    Select All
                                  </label>
                                </div>
                             
                          <table id="table" class="table table-center">
                           
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="title" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Quiz Title</th>
                              <td>
                                <%-data.title%>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="tags" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Tags</th>
                              <td>
                                <%-data.tags%>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="description" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Desciption</th>
                              <td>
                                <%-data.description%>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="beginTime" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Quiz Validity Period</th>
                              <td id="quizValidity">
                                <input type="hidden" id="begin_time_utc" name="begin_time_utc" value="<%-data.beginTime%>">
                                <input type="hidden" id="end_time_utc" name="end_time_utc" value="<%-data.endTime%>">
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="duration" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Duration</th>
                              <td>
                                <%-data.duration%>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="loginTime" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Login Time</th>
                              <% if(data.loginTime == "actual"){  %>
                                <td><b><%-data.loginTime%>:</b> Total time is used to calculate by adding time taken per question.
                                  Recommoded mode for a regular homework.</td>

                                <% }else if(data.loginTime== "absolute"){  %>
                                  <td><b><%-data.loginTime%>:</b> Time used is calculated since the first login. Total duration
                                    is considered to be difference between absolute first login and absolute submission time.
                                    </td>

                                  <% } else{} %>
                            </tr>
                            <%if(!isSection){%>
                              <tr>
                                <th>
                                  <div class="form-group">
                                    <div class='col-sm-12'>
                                      <div class="checkbox">
                                        <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="playlist" />
                                        <label for="chkbox_ids"></label>
                                      </div>
                                    </div>
                                  </div>
                                </th>
                                <th>Playlist</th>
                                <td>
                                  <%-data.playlist%>
                                </td>
                              </tr>
                              
                              
                                <tr>
                                <th>
                                  <div class="form-group">
                                    <div class='col-sm-12'>
                                      <div class="checkbox">
                                        <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="choose" />
                                        <label for="chkbox_ids"></label>
                                      </div>
                                    </div>
                                  </div>
                                </th>
                                <th>Items from Playlist</th>
                                <td>
                                  <%-data.choose%>
                                </td>
                              </tr> 
                                <tr>
                                <th>
                                  <div class="form-group">
                                    <div class='col-sm-12'>
                                      <div class="checkbox">
                                        <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="arrangement"/>
                                        <label for="chkbox_ids"></label>
                                      </div>
                                    </div>
                                  </div>
                                </th>
                                <th>Order of items</th>
                                <td>
                                  <%-data.arrangement%>
                                </td>
                              </tr> 
                            <%}%>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="takers" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Participants</th>
                              <% 
                                    var takers = new Array();
                                    takers = Object.keys(data.credentials);
                                    
                                    filteredTakers = takers.filter(function (item) {
                                             return item.indexOf("sample") !== 0;
                                          });
            
                                    for (i = 0; i < filteredTakers.length; i++) { 
                                        var tags         = [];
                                        var array_string = '';
                                        for (v = 0; v < filteredTakers.length; v++) { 
                                            var array_string = ' '+filteredTakers[v];
                                            tags.push(array_string);
                                        }
                                        filteredTakers = tags;
                                    }
                                  %>
                                <td>
                                  <%-filteredTakers%>
                                </td>
                            </tr>
                            <%if(data.sections  && data.sections[0].displayInstruction){%>
                            
                            <%}else{%>
                              <tr>
                                <th>
                                  <div class="form-group">
                                    <div class='col-sm-12'>
                                      <div class="checkbox">
                                        <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="helpAllowed"/>
                                        <label for="chkbox_ids"></label>
                                      </div>
                                    </div>
                                  </div>
                                </th>
                                <th>Help Level Selector</th>
                                <% if(data.helpAllowed == "0"){  %>
                                  <td>No Help Allowed</td>
                                <% }else if(data.helpAllowed== "1"){  %>
                                  <td>Hint Allowed<td>
                                <% }else if(data.helpAllowed== "2"){  %>
                                  <td>Hint and Explanation Allowed</td>
                                <% } else{} %>
                              </tr>
                            <%}%>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="score" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Score Available After </th>
                              <td>
                                <%-data.score%>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="review" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Review</th>
                              <td>
                                <%-data.review%>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="security" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Security</th>
                              <% if(data.security == "regular"){  %>
                                <td><b><%-data.security%>:</b> Warning is presented if a non-recommended browser is used when
                                  the student lands on the quiz login page. </td>

                                <% }else if(data.security== "high"){  %>
                                  <td><b><%-data.security%>:</b> In high security mode student is not allowed to login on a non-recommended
                                    browser - a check done by the quizapp back-end.</td>

                                  <% } else{} %>
                            </tr>
                            <tr>
                              <th>
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="calculator" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th>Calculator</th>
                              <td>
                                <%-data.calculator%>
                              </td>
                            </tr>
                            <tr>
                              <th style="text-align:center;">
                                <div class="form-group">
                                  <div class='col-sm-12'>
                                    <div class="checkbox">
                                      <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="origInstr" />
                                      <label for="chkbox_ids"></label>
                                    </div>
                                  </div>
                                </div>
                              </th>
                              <th style="width:200px;">Quiz Instruction</th>
                              <td>
                                <!-- <%-data.instruction%> -->
                                <div id="acordeon" class="col-md-12">
                                  <div class="panel-group" id="accordion">
                                    <div class="panel panel-border panel-default white">
                                      <a data-toggle="collapse" href="#collapseOne" class="" aria-expanded="true">
                                        <div class="panel-heading white">
                                          <h5 class="panel-title">
                                            <b>Instruction</b>
                                            <i class="ti-angle-down"></i>
                                          </h5>
                                        </div>
                                      </a>
                                      <div id="collapseOne" class="panel-collapse collapse " aria-expanded="false" style="">
                                        <div class="panel-body">
                                          <%-data.instruction%>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <%if(isSection){%>
                              <tr>
                                  <th style="text-align:center;">
                                    <div class="form-group">
                                      <div class='col-sm-12'>
                                        <div class="checkbox">
                                          <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="sections" />
                                          <label for="chkbox_ids"></label>
                                        </div>
                                      </div>
                                    </div>
                                  </th>
                                  <th style="width:200px;">Quiz Sections</th>
                                  <td>
                                    <% var sections =  data.sections; %>
                                    <% for(var i =0;i<sections.length;i++){ %>
                                      <div class="row" id="sectdiv_old-<%-i%>">
                                        <div id="acordeon" class="col-md-11">
                                          <div class="panel-group" id="accordion">
                                            <div class="panel panel-border panel-default white">
                                              <a data-toggle="collapse" href="#collapse<%-i%>" class="" aria-expanded="true">
                                                <div class="panel-heading white">
                                                  <h4 class="panel-title">
                                                    Section <%-i+1%>
                                                    <i class="ti-angle-down" style="font-size:1em"></i>
                                                  </h4>
                                                </div>
                                              </a>
                                              <div id="collapse<%-i%>" class="panel-collapse collapse " aria-expanded="false">
                                                <div class="panel-body">
                                                  <div class="card">
                                                      <table id="secTable"  class="table table-center">
                                                        <tr>
                                                          <th>Section Instruction</th>
                                                          <td><%-sections[i].displayInstruction%></td>
                                                        </tr>
                                                        <tr>
                                                          <th>Section Title</th>
                                                          <td><%-sections[i].title%></td>
                                                        </tr>
                                                        <tr>
                                                          <th>Playlist / Section Name</th>
                                                          <td><%-sections[i].playlist%> / <%-sections[i].sectionName%></td>
                                                        </tr>
                                                        <tr>
                                                          <th>Order of items</th>
                                                          <td><%-sections[i].arrangement%></td>
                                                        </tr>
                                                        <tr>
                                                          <th>Items from Playlist</th>
                                                          <td><%-sections[i].choose%></td>
                                                        </tr>
                                                        <tr>
                                                          <th>Help Level Selector</th>
                                                          <% if(sections[i].helpAllowed == "0"){  %>
                                                            <td>No Help Allowed</td>
                                                          <% }else if(sections[i].helpAllowed== "1"){  %>
                                                            <td>Hint Allowed<td>
                                                          <% }else if(sections[i].helpAllowed== "2"){  %>
                                                            <td>Hint and Explanation Allowed</td>
                                                          <% } else{} %>
                                                        </tr>
                                                        <tr>
                                                          <th>Grading Matrix</th>
                                                          <td>
                                                            <div class="">
                                                              <div class="">
                                                                <div class="table-responsive">
                                                                  <table class="table table-center details table-responsive" style="border:#ccc5b8 1px solid;border-radius:5px;">
                                                                    <thead>
                                                                      <tr>
                                                                        <th></th>
                                                                        <th style="font-weight:bold;">No help used </th>
                                                                        <th style="font-weight:bold; <% if(sections[i].helpAllowed == "0" ){%> display:none; <%}%>">Hint used  </th>
                                                                        <th style="font-weight:bold; <% if(sections[i].helpAllowed == "0" || sections[i].helpAllowed == "1"){%> display:none;<%}%>" >Explanation used</th>
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                      <tr>
                                                                        <th>Correct Score</th>
                                                                        <td style="background-color:rgba(161, 234, 194, 0.4);">
                                                                          <%-sections[i].gradingMatrix[0][0]%>
                                                                        </td>
                                                                        <td style="background-color:rgba(241, 209, 142, 0.4); <% if(sections[i].helpAllowed == "0" ){%> display:none; <%}%>">
                                                                          <%-sections[i].gradingMatrix[0][1]%>
                                                                        </td>
                                                                        <td style="background-color:rgba(170, 216, 228, 0.4); <% if(sections[i].helpAllowed == "0" || sections[i].helpAllowed == "1"){%> display:none;<%}%>">
                                                                          <%-sections[i].gradingMatrix[0][2]%>
                                                                        </td>
                                                                      </tr>
                                                                      <tr>
                                                                        <th>Skip Score</th>
                                                                        <td style="background-color:rgba(161, 234, 194, 0.4);">
                                                                          <%-sections[i].gradingMatrix[1][0]%>
                                                                        </td>
                                                                        <td style="background-color:rgba(241, 209, 142, 0.4); <% if(sections[i].helpAllowed == "0" ){%> display:none; <%}%>">
                                                                          <%-sections[i].gradingMatrix[1][1]%>
                                                                        </td>
                                                                        <td style="background-color:rgba(170, 216, 228, 0.4); <% if(sections[i].helpAllowed == "0" || sections[i].helpAllowed == "1"){%> display:none;<%}%>">
                                                                          <%-sections[i].gradingMatrix[1][2]%>
                                                                        </td>
                                                                      </tr>
                                                                      <tr>
                                                                        <th>Incorrect Score</th>
                                                                        <td style="background-color:rgba(161, 234, 194, 0.4);">
                                                                          <%-sections[i].gradingMatrix[2][0]%>
                                                                        </td>
                                                                        <td style="background-color:rgba(241, 209, 142, 0.4); <% if(sections[i].helpAllowed == "0" ){%> display:none; <%}%>">
                                                                          <%-sections[i].gradingMatrix[2][1]%>
                                                                        </td>
                                                                        <td style="background-color:rgba(170, 216, 228, 0.4); <% if(sections[i].helpAllowed == "0" || sections[i].helpAllowed == "1"){%> display:none;<%}%>">
                                                                          <%-sections[i].gradingMatrix[2][2]%>
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <th>Help Selector At Review</th>
                                                          <% if(sections[i].helpAtReview == "0"){  %>
                                                            <td>No Help Allowed</td>
                                                          <% }else if(sections[i].helpAtReview== "1"){  %>
                                                            <td>Hint Allowed<td>
                                                          <% }else if(sections[i].helpAtReview== "2"){  %>
                                                            <td>Hint and Explanation Allowed</td>
                                                          <% } else{} %>
                                                        </tr>
                                                        <tr>
                                                          <th>Partial Grading</th>
                                                          <td><%-sections[i].partialGrading%></td>
                                                        </tr>
                                                      </table>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>                                                                                                                                                                                                                                                                                                                                                                                                  
                                    <% } %>
                                  </td>
                                </tr>
                            <%}else{%>
                              <tr>
                                  <th>
                                    <div class="form-group">
                                      <div class='col-sm-12'>
                                        <div class="checkbox">
                                          <input type="checkbox" id="chkbox_ids" name="chkbox_ids" class="chkbox" value="gradingMatrix"/>
                                          <label for="chkbox_ids"></label>
                                        </div>
                                      </div>
                                    </div>
                                  </th>
                                  <th style="width:200px;">Grading Matrix</th>
                                  <td><br/>
                                    <div class="">
                                      <div class="">
                                        <div class="table-responsive">
                                          <table class="table table-center details table-responsive" style="border:#ccc5b8 1px solid;border-radius:5px;">
                                            <thead>
                                              <tr>
                                                <th></th>
                                                <th style="font-weight:bold;">No help used </th>
                                                <th style="font-weight:bold;">Hint used  </th>
                                                <th style="font-weight:bold;">Explanation used</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th>Correct Score</th>
                                                <td style="background-color:rgba(161, 234, 194, 0.4);">
                                                  <%-data.gradingMatrix[0][0]%>
                                                </td>
                                                <td style="background-color:rgba(241, 209, 142, 0.4);">
                                                  <%-data.gradingMatrix[0][1]%>
                                                </td>
                                                <td style="background-color:rgba(170, 216, 228, 0.4);">
                                                  <%-data.gradingMatrix[0][2]%>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th>Skip Score</th>
                                                <td style="background-color:rgba(161, 234, 194, 0.4);">
                                                  <%-data.gradingMatrix[1][0]%>
                                                </td>
                                                <td style="background-color:rgba(241, 209, 142, 0.4);">
                                                  <%-data.gradingMatrix[1][1]%>
                                                </td>
                                                <td style="background-color:rgba(170, 216, 228, 0.4);">
                                                  <%-data.gradingMatrix[1][2]%>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th>Incorrect Score</th>
                                                <td style="background-color:rgba(161, 234, 194, 0.4);">
                                                  <%-data.gradingMatrix[2][0]%>
                                                </td>
                                                <td style="background-color:rgba(241, 209, 142, 0.4);">
                                                  <%-data.gradingMatrix[2][1]%>
                                                </td>
                                                <td style="background-color:rgba(170, 216, 228, 0.4);">
                                                  <%-data.gradingMatrix[2][2]%>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                            <%}%>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%- include('../parts/footer'); %>
      </div>
  </div>
  
    </div>
    </div>
</body>
<%- include('../parts/allJS'); %>
  <script type="text/javascript" src="author_public/js/author_quiz.js"></script>
  <%- include('../parts/dynamicMedia'); %>
</html>